ALWAYS_SEARCH_USER_PATHS = NO
ARCHS = arm64
CLANG_ENABLE_MODULES = YES
DEFINES_MODULE = YES
IPHONEOS_DEPLOYMENT_TARGET = 16.2
SWIFT_VERSION = 5.0
ONLY_ACTIVE_ARCH = YES
SDKROOT = iphoneos
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_WHOLE_MODULE_OPTIMIZATION = YES
PRODUCT_MODULE_NAME = $(PRODUCT_NAME)
PRODUCT_NAME = LibB
SKIP_INSTALL = NO

